.Pagination {

    margin-bottom: 20px;

    &__items {
        display: flex;
        flex-direction: row;

        &_item {
            padding: 10px 15px;
            background-color: #fff;
            border-radius: 10px;
            cursor: pointer;
            transition: all 0.3s;

            &:hover {
                background-color: #000;
                color: #fff;
            }

            &:not(:last-child) {
                margin-right: 15px;
            }
        }
    }
}