.Category {

    &__list {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        &_item {
            background-color: #fff;
            padding: 10px;
            border-radius: 10px;
            margin-right: 10px;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: black;
                color: #fff;
            }
        }

        &_item_active {
            @extend .Category__list_item;
            background-color: #000;
            color: #fff;
        }
    }
}